{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }} {% endblock %}

{% block body %}
<section class="container-fluid text-bg-dark bg-dark jumbotron"> 
    <div class="row mx-0 justify-content-center">
        <div class="col-md-8 col-lg-6">
            <header>
                <h1 class="display-5 fw-bold text-center lh-2 mb-3">Gérer mon profil</h1>
            </header>
            <p class="lead text-center mt-5">
                Sur cette page, vous pourrez modifier vos informations personnelles à l'exception de votre nom d'utilisateur.
            </p>
        </div>
    </div>
</section>
<div class="container-fluid my-5"> 
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message|trans() }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show">
            {{ message|trans() }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="row align-items-start justify-content-center">
        <div class="col-md-6 col-lg-3">
            <article class="card">
                <header class="card-header">
                    <h2 class="card-title h5 mb-0">Profil</h2>
                </header>
                <div class="card-body text-center">
                    <div class="profile-square border text-secondary bg-light"><i class="fas fa-user fa-7x"></i></div>
                    <h3 class="h5 mt-2">{{ app.user.username }}</h3>
                    <div class="text-muted small">Inscription le {{ app.user.createdAt|date('d/m/Y H:m') }}</div>
                </div>
            </article>
        </div>
        <div class="col-md-6 col-lg-8">
            <article class="card">
                <header class="card-header">
                    <h2 class="card-title h5 mb-0">Informations de compte</h2>
                </header>
                {{ form_start(form) }}
                    <div class="card-body">
                        {{ form_widget(form) }}
                    </div>
                    <footer class="card-footer">
                        <button type="submit" class="btn btn-primary w-100">Sauvegarder</button>
                    </footer>
                {{ form_end(form) }}
            </article>
        </div>
    </div>
</div>
{% endblock %}
